<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_HOME" value="/home/emrekaradag/local/logs"/>

    <appender name="FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS_HOME}/clinic/debug.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%date{ISO8601}] - [%-5level] %-4relative %logger{36} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/clinic/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS_HOME}/clinic/error.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%date{ISO8601}] - [%-5level] %-4relative %logger{36} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

    </appender>

    <logger name="com.service.clinic" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-DEBUG"/>
    </logger>

    <root>
        <appender-ref ref="FILE-ERROR"/>
    </root>

</configuration>